.top-bar {
  display: flex;
  width: 1203px;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;

  background: #fff;
}

.datetime__container {
  display: flex;
  width: 216px;
  padding: var(--Spacing-sm, 12px) var(--Spacing-m, 16px);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--Radius-m, 16px);
  border: 1px solid var(--Neutrals-Neutrals200, #cccbcb);
  background: #e5ecf3;
}

.datetime__input {
  /* Dashboard - 1 - luo777ne/Desktop/Body/Content Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.logo__title {
  color: var(--Neutrals-Neutrals700, #f1eded);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.calendar__icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.search__container {
  display: flex;
  max-width: 400px;
  padding: var(--Spacing-s, 8px) var(--Spacing-s, 8px) var(--Spacing-s, 8px)
    var(--Spacing-sm, 12px);
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--Spacing-sm, 12px);
  border: 1px solid var(--Neutrals-Neutrals200, #cccbcb);
}

.inputSearch {
  display: flex;
  width: 244px;

  color: var(--Neutrals-Neutrals700, #5a5555);

  /* Dashboard - 1 - luo777ne/Desktop/Body/Content Emphasis */
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.search__icon {
  width: 32px;
  height: 32px;
}
