.top-bar {
  display: flex;
  display: flex;
  width: 1203px;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;

  background: #fff;
}

.datetime__container {
  display: flex;
  width: 216px;
  padding: var(--Spacing-sm, 12px) var(--Spacing-m, 16px);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--Radius-m, 16px);
  border: 1px solid var(--Neutrals-Neutrals200, #cccbcb);
  background: #e5ecf3;
}

.datetime__input {
  /* Dashboard - 1 - luo777ne/Desktop/Body/Content Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.logo__title {
  color: var(--Neutrals-Neutrals700, #f1eded);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.calendar__icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.search__container {
  display: flex;
  max-width: 400px;
  padding: var(--Spacing-s, 8px) var(--Spacing-s, 8px) var(--Spacing-s, 8px)
    var(--Spacing-sm, 12px);
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--Spacing-sm, 12px);
  border: 1px solid var(--Neutrals-Neutrals200, #cccbcb);
}

.inputSearch {
  display: flex;
  width: 244px;

  color: var(--Neutrals-Neutrals700, #5a5555);

  /* Dashboard - 1 - luo777ne/Desktop/Body/Content Emphasis */
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.search__icon {
  width: 32px;
  height: 32px;
}

////side bar ////////////
.side-bar {
  display: flex;
  width: 237px;
  height: 964px;
  padding: 44px 24px;
  flex-direction: column;
  align-items: center;
  gap: 47px;

  border-right: 1px solid var(--Secondary-Secondary200, #dae1e7);
  background: #fff;
}

.logo__container {
  display: flex;
  align-items: flex-end;
  gap: 4.686px;
}

.logo__side__bar {
  width: 45px;
  height: 35px;
}

.logo__title {
  color: var(--Primary-Primary, #8534fe);
  font-family: Audiowide;
  font-size: 28.116px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.739px */
}

.menu-support__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.menu__title {
  align-self: stretch;

  color: var(--Secondary-Secondary800, #637d92);

  /* Dashboard - 1 - luo777ne/Mobile/Body/Highlight Bold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.menu__item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.support__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.support__title {
  align-self: stretch;

  color: var(--Secondary-Secondary800, #637d92);

  /* Dashboard - 1 - luo777ne/Mobile/Body/Highlight Bold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
.support__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.support__item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.selected__item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border-left: 4px solid var(--Primary-Primary600, #6d0cfe);
  background: var(--Secondary-Secondary100, #f0f3f5);
}
