@import "./core/reset";
@import "./core/variables";

.main {
  width: 1440px;
  height: 1506px;

  background: #e5ecf3;
}

.bar {
  display: flex;

  align-items: flex-start;
}

.body {
  display: flex;
  width: 1203px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
