@import "./core/reset";
@import "./core/variables";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: #e5ecf3;
}

.header {
  display: flex;
  align-items: flex-start;
}

.content {
  display: flex;
  flex: 1;
}

.content .side-bar {
  width: 250px;
}

.dashboard {
  display: flex;
  width: 1334px;
  height: 1298px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}
