.down {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
}

.a__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.b__container {
  display: flex;
  width: 783px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
